In [ ]:
import numpy as np
import pandas as pd
import ast
import kaggle
import os
from sklearn.impute import SimpleImputer
pd.set_option('display.max_columns', None)

# kaggle.api.authenticate()
# kaggle.api.dataset_download_file('jvanelteren/boardgamegeek-reviews', 'games_detailed_info.csv', path = 'Escritorio\TFG\data')

In [22]:

juegos = pd.read_csv('../data/bgg-limpio-reviews.csv')
more_info = pd.read_csv('../data/games_detailed_info.csv')
juegos.columns = juegos.columns.str.lower()
more_info.columns = more_info.columns.str.lower()
more_info_f = more_info[['id', 'description', 'yearpublished', 'minplayers', 'maxplayers', 'playingtime', 'boardgamecategory', 'boardgamemechanic', 'boardgamedesigner']]
juegos.head(4)
more_info_f.head(4)

C:\Users\isaac\AppData\Local\Temp\ipykernel_18212\3991221742.py:2: DtypeWarning: Columns (29,48) have mixed types. Specify dtype option on import or set low_memory=False.
  more_info = pd.read_csv('../data/games_detailed_info.csv')

,id,description,yearpublished,minplayers,maxplayers,playingtime,boardgamecategory,boardgamemechanic,boardgamedesigner
0,30549,"In Pandemic, several virulent diseases have br...",2008,2,4,45,['Medical'],"['Action Points', 'Cooperative Game', 'Hand Ma...",['Matt Leacock']
1,822,Carcassonne is a tile-placement game in which ...,2000,2,5,45,"['City Building', 'Medieval', 'Territory Build...","['Area Majority / Influence', 'Map Addition', ...",['Klaus-Jürgen Wrede']
2,13,"In CATAN (formerly The Settlers of Catan), pla...",1995,3,4,120,"['Economic', 'Negotiation']","['Dice Rolling', 'Hexagon Grid', 'Income', 'Mo...",['Klaus Teuber']
3,68448,You are the leader of one of the 7 great citie...,2010,2,7,30,"['Ancient', 'Card Game', 'City Building', 'Civ...","['Drafting', 'Hand Management', 'Set Collectio...",['Antoine Bauza']

In [23]:
juegos_merged_f = juegos.merge(more_info_f, on='id', how='inner')
juegos.dropna(inplace=True)

In [24]:
juegos_merged_f.head(3)

,unnamed: 0,user,rating,comment,id,name,description,yearpublished,minplayers,maxplayers,playingtime,boardgamecategory,boardgamemechanic,boardgamedesigner
0,0,sidehacker,10.0,NaN,13,CATAN,"In CATAN (formerly The Settlers of Catan), pla...",1995,3,4,120,"['Economic', 'Negotiation']","['Dice Rolling', 'Hexagon Grid', 'Income', 'Mo...",['Klaus Teuber']
1,1,Varthlokkur,10.0,NaN,13,CATAN,"In CATAN (formerly The Settlers of Catan), pla...",1995,3,4,120,"['Economic', 'Negotiation']","['Dice Rolling', 'Hexagon Grid', 'Income', 'Mo...",['Klaus Teuber']
2,2,dougthonus,10.0,"Currently, this sits on my list as my favorite...",13,CATAN,"In CATAN (formerly The Settlers of Catan), pla...",1995,3,4,120,"['Economic', 'Negotiation']","['Dice Rolling', 'Hexagon Grid', 'Income', 'Mo...",['Klaus Teuber']

In [26]:
juegos_merged_f = juegos_merged_f.astype(str)

In [ ]:
sample_df = juegos_merged_f.iloc[:3000].copy()

# sample_df['info_gameboard'] = sample_df['description'] + " " + sample_df['yearpublished']   
# sample_df.head(3)

sample_df['info_gameboard'] = sample_df[
    ['description', 'yearpublished', 'minplayers', 'maxplayers', 
     'playingtime', 'boardgamecategory', 'boardgamemechanic', 'boardgamedesigner']
].astype(str).agg(' '.join, axis=1)



# tabla_juegos = juegos_merged_f.drop(columns=['description', 'yearpublished', 'minplayers', 'maxplayers', 'playingtime', 'boardgamecategory', 'boardgamemechanic', 'boardgamedesigner'])
# juegos_merged_f.head(2)

In [28]:
sample_df = sample_df.drop(columns=['description', 'yearpublished', 'minplayers', 'maxplayers', 'playingtime', 'boardgamecategory', 
                                             'boardgamemechanic', 'boardgamedesigner'])
sample_df.head(5)

,unnamed: 0,user,rating,comment,id,name,info_gameboard
0,0,sidehacker,10.0,nan,13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."
1,1,Varthlokkur,10.0,nan,13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."
2,2,dougthonus,10.0,"Currently, this sits on my list as my favorite...",13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."
3,3,cypar7,10.0,"I know it says how many plays, but many, many ...",13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."
4,4,ssmooth,10.0,nan,13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."

In [ ]:
print(type(sample_df))
print(sample_df.head())


sample_df.dropna(axis=0, inplace=True)
sample_df.head(3)

<class 'pandas.core.frame.DataFrame'>
  unnamed: 0         user rating  \
0          0   sidehacker   10.0
1          1  Varthlokkur   10.0
2          2   dougthonus   10.0
3          3       cypar7   10.0
4          4      ssmooth   10.0

                                             comment  id   name  \
0                                                nan  13  CATAN
1                                                nan  13  CATAN
2  Currently, this sits on my list as my favorite...  13  CATAN
3  I know it says how many plays, but many, many ...  13  CATAN
4                                                nan  13  CATAN

                                      info_gameboard
0  In CATAN (formerly The Settlers of Catan), pla...
1  In CATAN (formerly The Settlers of Catan), pla...
2  In CATAN (formerly The Settlers of Catan), pla...
3  In CATAN (formerly The Settlers of Catan), pla...
4  In CATAN (formerly The Settlers of Catan), pla...

,unnamed: 0,user,rating,comment,id,name,info_gameboard
0,0,sidehacker,10.0,nan,13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."
1,1,Varthlokkur,10.0,nan,13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."
2,2,dougthonus,10.0,"Currently, this sits on my list as my favorite...",13,CATAN,"In CATAN (formerly The Settlers of Catan), pla..."

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

vector = cv.fit_transform(sample_df['info_gameboard']).toarray()

In [31]:
vector.shape

(200, 349)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

similarity

array([[1.        , 1.        , 1.        , ..., 0.33259625, 0.33259625,
        0.39386318],
       [1.        , 1.        , 1.        , ..., 0.33259625, 0.33259625,
        0.39386318],
       [1.        , 1.        , 1.        , ..., 0.33259625, 0.33259625,
        0.39386318],
       ...,
       [0.33259625, 0.33259625, 0.33259625, ..., 1.        , 1.        ,
        0.33235916],
       [0.33259625, 0.33259625, 0.33259625, ..., 1.        , 1.        ,
        0.33235916],
       [0.39386318, 0.39386318, 0.39386318, ..., 0.33235916, 0.33235916,
        1.        ]], shape=(200, 200))

In [43]:
valor = sample_df[sample_df['name'] == 'CATAN'].index[0]
print(int(valor))

0

In [55]:
def recomendar(juego):
    index = sample_df[sample_df['name'] == juego].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    for i in distances[1:6]:
        recomendado = sample_df.iloc[i[0]]
        print(recomendado['name'], "-", recomendado['info_gameboard'][:200])

In [56]:
recomendar('CATAN')

CATAN - In CATAN (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resour
CATAN - In CATAN (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resour
CATAN - In CATAN (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resour
CATAN - In CATAN (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resour
CATAN - In CATAN (formerly The Settlers of Catan), players try to be the dominant force on the island of Catan by building settlements, cities, and roads. On each turn dice are rolled to determine what resour